@font-face {
  font-family: 'Source Han Serif';
  src: url('./SourceHanSerif-Regular.ttc') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('./SourceHanSerif-SemiBold.ttc') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Han Serif';
  src: url('./SourceHanSerif-Heavy.ttc') format('truetype');
  font-weight: 700;
  font-style: normal;
}
